@model IList<WestcoastEducation.Web.Models.OnDemand>

@{
    ViewBag.PageTitle = "On-Demand kurser";
}

<article class="page">
    <h1 class="page-title">On-Demand kurser</h1>
    <p> Våra On-Demand kurser sker på distans och innebär att du kan läsa precis när det passar dig. Varje kurs
        innehåller lärarledda lektioner i form av videos samt tillhörande övningar. Du kan pausa, spola
        fram och tillbaka i videosarna för att praktisera det på bästa sätt genom att ta det i ditt tempo.
        Sammanlagt ska du helst studera 6-8 timmar per dag för att klara av kursen samt förstå innehållet.</p>
</article>