@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.course-container a {
    color: var(--dark-color);
    text-decoration: underline;
    font-weight: 800;
}

.course-container a:active {
    color: var(--secondary-color);
}

.course-container {
    text-align: center;
}

.logo-text {
    color: var(--primary-color);
}

.page {
    margin-top: 2rem;
}

.page p {
    padding: 0rem 2rem 2rem;
}

.page-title {
    text-align: center;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 2rem;
    padding: 2rem 4rem;
}

.offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-border-color);
    height: 10vh;
    width: 100vw;
    color: var(--dark-color);
}

.offer {
    margin-top: 1rem;
}
